/**
 * Component: Product card
 * -----------------------------------------------------------------------------
 * Base styling for individual product card items which are usually displayed in groups.
 *
 */
.product-card {
  $parent: &;
  color: $COLOR_TEXT_PRIMARY;
  text-decoration: none;
  width: 100%;
  padding-left: 10%;
  transition: .3s;

  p {
    color: #003366;
    font-weight: $WEIGHT_BOLD;
    width: 80%;
  }

  a, a:hover {
    text-decoration: none;
  }

  .image-sale-container {
    position: relative;
  }

  &__sale-tag {
    color: $COLOR_TEXT_INVERSE;
    background-color: #003366;
    font-weight: $WEIGHT_BOLD;
    position: absolute;
    padding: $SPACING_XS $SPACING_L;
    top: 2%;
    right: 20%;
  }
  
  &__add-to-cart {
    color: $COLOR_TEXT_INVERSE;
    background-color: #003366;
    opacity: 90%;
    text-decoration: none;
    text-align: center;
    font-weight: $WEIGHT_BOLD;
    position: absolute;
    padding: $SPACING_L $SPACING_XL;
    bottom: 5%;
    left: 7%;
    width: 70%;
    // desktop mode
    @media screen and ( min-width: 768px ) {
      display: none;
    }
  }
  
  // desktop mode
  @media screen and ( min-width: 768px ) {
    padding-left: 0;  

    .product-card:hover &__add-to-cart {
      display: block;
      color: #003366;
      background-color: $COLOR_TEXT_INVERSE;
    }
  }
}

/** Styling for carousel **/
/* no circle */
.flickity-button {
  background: transparent;
}
/* previous & next buttons */
.flickity-prev-next-button {
  width: 50px;
  height: 50px;
}
/* icon color */
.flickity-button-icon {
  fill: #333333;
}
/* hide disabled button */
.flickity-button:disabled {
  display: none;
}
/* reposition bottom dots */
.flickity-page-dots {
  position: relative;
}