/**
 * Sections: Featured collection
 * -----------------------------------------------------------------------------
 * Base styling for the featured collection product grid.
 *
 */
.featured-collection {
  background-color: $COLOR_BACKGROUND_WHITE;
}

.title-section {
  text-align: center;
  padding: $SPACING_L;

  h2 {
    color: rgb(0, 51, 102);
    font-family: $FONT_HEADING;
    font-size: 36px;

  }
  
  p {
    color: rgb(155, 155, 155);
    font-family: $FONT_BODY;
    font-weight: $WEIGHT_LIGHT;
    line-height: $LINE_HEIGHT_BODY;
    letter-spacing: $LETTER_SPACING_BODY;
    margin: auto;

    // desktop mode
    @media screen and ( min-width: 768px ) {
      width: 50%;      
    }
  }

}

.collection-carousel {
  padding: $SPACING_S;
  width: 100%;

  // desktop mode
  @media screen and ( min-width: 768px ) {
    .product-card { 
      width: 30%; 
    }

    &:hover .product-card:not(:hover) {
      filter: grayscale(100%);
  
      &::after {
        background-color: rgba(#000, 0.5);
      }
    }
  }
}

.product-price {
  color: rgb(155, 155, 155);
  font-weight: $WEIGHT_LIGHT;
} 

.bottom-section {
  margin: 10rem;
  display: flex;
  justify-content: center;
}

.view-collection {
  color: $COLOR_TEXT_INVERSE;
  font-weight: $WEIGHT_BOLD;
  background-color: rgb(0, 51, 102);
  padding: $SPACING_L $SPACING_XL;
  text-decoration: none;
}
